/* html{
  height: 100%;
} */

.app{
  display: flex;
  background-color:rgb(204, 204, 204);
  border-radius:30px;
  height: 500px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title{
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: black;
}

input{
  border-radius: 16px;
  border: none;
  padding: 10px 20px;
  outline: none;
}

button{
  border-radius: 16px;
  border: none;
  padding: 5px 10px;
  margin: 0px 5px;
}

button:hover {
  background-color:pink;
  cursor: pointer;
  border-radius: 16px;
}

.input-area{
  text-align: center;
  background-color: skyblue;
  width: 25%;
  height: 30px;
  border-radius:8px ;
  padding:8px;
  margin: 8px;
}

.incomplete-area{
  background-color: yellow;
  width: 25%;
  min-height: 200px;
  border-radius: 8px;
  padding:8px;
  margin: 8px;
}

.complete-area{
  background-color: rgb(231, 89, 89);
  width: 25%;
  min-height: 200px;
  border-radius: 8px;
  padding:8px;
  margin: 8px;
}

.list{
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}